@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-pri {
        @apply inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-5 py-3 text-base font-medium leading-6 text-white transition duration-150 ease-in-out hover:bg-indigo-500 focus:outline-none cursor-pointer select-none
    }

    .btn-pri-sm {
        @apply inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm leading-4 text-white transition duration-150 ease-in-out hover:bg-indigo-500 focus:outline-none cursor-pointer select-none
    }

    .btn-normal {
        @apply inline-flex items-center justify-center rounded-md border-gray-200 border-2 px-5 py-3 text-base font-medium leading-6 text-gray-900 transition duration-150 ease-in-out hover:bg-gray-200 bg-opacity-30 focus:outline-none cursor-pointer select-none
    }

    .btn-normal-sm {
        @apply inline-flex items-center justify-center rounded-md border-gray-200 border-2 px-4 py-2 text-sm leading-4 text-gray-900 transition duration-150 ease-in-out hover:bg-gray-200 bg-opacity-30 focus:outline-none cursor-pointer select-none
    }

    .text-input-pri {
        @apply block appearance-none rounded-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm
    }

    .btn-revert {
        @apply inline-flex items-center justify-center rounded-md border border-transparent bg-red-600 hover:bg-red-500 px-5 py-3 text-base font-medium leading-6 text-white transition duration-150 ease-in-out focus:outline-none cursor-pointer select-none
    }

    .btn-revert-sm {
        @apply inline-flex items-center justify-center rounded-md border border-transparent bg-red-600 hover:bg-red-500 px-4 py-2 text-sm leading-4 text-white transition duration-150 ease-in-out focus:outline-none cursor-pointer select-none
    }
    
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}